# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Node
node_modules/
dist/
.next/
.vercel/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Alembic
api/alembic/versions/*.py
!api/alembic/versions/.gitkeep
